USE [master]
GO
/****** Object:  Database [PokemonPartySimulator]    Script Date: 2026/4/6 上午 12:19:06 ******/
CREATE DATABASE [PokemonPartySimulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PokemonPartySimulator', FILENAME = N'D:\SqlData\PokemonPartySimulator.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PokemonPartySimulator_log', FILENAME = N'D:\SqlData\PokemonPartySimulator_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PokemonPartySimulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PokemonPartySimulator]
GO
/****** Object:  Table [dbo].[Move]    Script Date: 2026/4/6 上午 12:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Move](
	[MoveID] [int] NOT NULL,
	[Name_CH] [nvarchar](50) NULL,
	[Name_EN] [nvarchar](50) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Power] [int] NULL,
	[Accuracy] [int] NULL,
 CONSTRAINT [PK_Move] PRIMARY KEY CLUSTERED 
(
	[MoveID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PokemonData]    Script Date: 2026/4/6 上午 12:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PokemonData](
	[PokemonID] [int] NOT NULL,
	[Name_EN] [nvarchar](50) NOT NULL,
	[Name_CH] [nvarchar](50) NOT NULL,
	[Type1] [nvarchar](20) NOT NULL,
	[Type2] [nvarchar](20) NULL,
	[Base_Total] [int] NULL,
	[HP] [int] NULL,
	[Attack] [int] NULL,
	[Defense] [int] NULL,
	[Special] [int] NULL,
	[Speed] [int] NULL,
 CONSTRAINT [PK_PokemonData] PRIMARY KEY CLUSTERED 
(
	[PokemonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PokemonMoveMapping]    Script Date: 2026/4/6 上午 12:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PokemonMoveMapping](
	[PokemonID] [int] NOT NULL,
	[MoveID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 2026/4/6 上午 12:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[TeamID] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TeamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamMember]    Script Date: 2026/4/6 上午 12:19:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamMember](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeamID] [int] NOT NULL,
	[SlotIndex] [int] NOT NULL,
	[PokemonID] [int] NOT NULL,
	[Move1_ID] [int] NULL,
	[Move2_ID] [int] NULL,
	[Move3_ID] [int] NULL,
	[Move4_ID] [int] NULL,
	[Item] [nvarchar](50) NULL,
	[Ability] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Move] ([MoveID], [Name_CH], [Name_EN], [Type], [Power], [Accuracy]) VALUES (0, N'--- (無招式) ---', NULL, N'一般', 0, 0)
INSERT [dbo].[Move] ([MoveID], [Name_CH], [Name_EN], [Type], [Power], [Accuracy]) VALUES (1, N'拍擊', N'Pound', N'一般', 40, 100)
INSERT [dbo].[Move] ([MoveID], [Name_CH], [Name_EN], [Type], [Power], [Accuracy]) VALUES (2, N'空手劈', N'Karate Chop', N'一般', 50, 100)
GO
INSERT [dbo].[PokemonData] ([PokemonID], [Name_EN], [Name_CH], [Type1], [Type2], [Base_Total], [HP], [Attack], [Defense], [Special], [Speed]) VALUES (1, N'Bulbasaur', N'妙蛙種子', N'grass', N'poison', 253, 45, 49, 49, 65, 45)
INSERT [dbo].[PokemonData] ([PokemonID], [Name_EN], [Name_CH], [Type1], [Type2], [Base_Total], [HP], [Attack], [Defense], [Special], [Speed]) VALUES (2, N'Ivysaur', N'妙蛙草', N'grass', N'poison', 325, 60, 62, 63, 80, 60)
INSERT [dbo].[PokemonData] ([PokemonID], [Name_EN], [Name_CH], [Type1], [Type2], [Base_Total], [HP], [Attack], [Defense], [Special], [Speed]) VALUES (3, N'Venusaur', N'妙蛙花', N'grass', N'poison', 425, 80, 82, 83, 100, 80)
GO
INSERT [dbo].[PokemonMoveMapping] ([PokemonID], [MoveID]) VALUES (1, 14)
INSERT [dbo].[PokemonMoveMapping] ([PokemonID], [MoveID]) VALUES (1, 15)
INSERT [dbo].[PokemonMoveMapping] ([PokemonID], [MoveID]) VALUES (1, 22)
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([TeamID], [TeamName], [CreatedDate]) VALUES (1, N'123', CAST(N'2025-12-28T17:22:28.503' AS DateTime))
INSERT [dbo].[Team] ([TeamID], [TeamName], [CreatedDate]) VALUES (2, N'抓寶', CAST(N'2025-12-30T20:28:17.767' AS DateTime))
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[TeamMember] ON 

INSERT [dbo].[TeamMember] ([ID], [TeamID], [SlotIndex], [PokemonID], [Move1_ID], [Move2_ID], [Move3_ID], [Move4_ID], [Item], [Ability]) VALUES (1, 1, 0, 5, 0, 0, 0, 0, NULL, NULL)
INSERT [dbo].[TeamMember] ([ID], [TeamID], [SlotIndex], [PokemonID], [Move1_ID], [Move2_ID], [Move3_ID], [Move4_ID], [Item], [Ability]) VALUES (2, 2, 0, 3, 79, 77, 156, 75, NULL, NULL)
INSERT [dbo].[TeamMember] ([ID], [TeamID], [SlotIndex], [PokemonID], [Move1_ID], [Move2_ID], [Move3_ID], [Move4_ID], [Item], [Ability]) VALUES (3, 2, 1, 143, 156, 59, 92, 55, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TeamMember] OFF
GO
ALTER TABLE [dbo].[Team] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[PokemonMoveMapping]  WITH CHECK ADD  CONSTRAINT [FK_PokemonMoveMapping_Move] FOREIGN KEY([MoveID])
REFERENCES [dbo].[Move] ([MoveID])
GO
ALTER TABLE [dbo].[PokemonMoveMapping] CHECK CONSTRAINT [FK_PokemonMoveMapping_Move]
GO
ALTER TABLE [dbo].[PokemonMoveMapping]  WITH CHECK ADD  CONSTRAINT [FK_PokemonMoveMapping_PokemonData] FOREIGN KEY([PokemonID])
REFERENCES [dbo].[PokemonData] ([PokemonID])
GO
ALTER TABLE [dbo].[PokemonMoveMapping] CHECK CONSTRAINT [FK_PokemonMoveMapping_PokemonData]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_Move] FOREIGN KEY([Move1_ID])
REFERENCES [dbo].[Move] ([MoveID])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_Move]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_Move1] FOREIGN KEY([Move2_ID])
REFERENCES [dbo].[Move] ([MoveID])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_Move1]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_Move2] FOREIGN KEY([Move3_ID])
REFERENCES [dbo].[Move] ([MoveID])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_Move2]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_Move3] FOREIGN KEY([Move4_ID])
REFERENCES [dbo].[Move] ([MoveID])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_Move3]
GO
ALTER TABLE [dbo].[TeamMember]  WITH CHECK ADD  CONSTRAINT [FK_TeamMember_Team] FOREIGN KEY([TeamID])
REFERENCES [dbo].[Team] ([TeamID])
GO
ALTER TABLE [dbo].[TeamMember] CHECK CONSTRAINT [FK_TeamMember_Team]
GO
USE [master]
GO
